@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: #333;
  height: 100%;
  background: rgba(0,0,0,0.05);
}

html{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

code {
  display: block;
  margin-top: 10px;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', monospace;
  font-size: 12.5px;
  background: #eee;
  padding: 10px;
  border-radius: 3px;
  color: rgba(0,0,0,.75);
  border: 1px solid rgba(0,0,0,.075);
}