.info {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(0,0,0, .1);
  margin: 15px 30px 0 30px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3px;
}

.desc {
  margin-left: 10px;
  color: rgba(0,0,0,.75);
  font-size: 14px;
  margin-bottom: 0;
}

.container {
  max-width: 950px;
  margin: auto;
}

.folder-snippets {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 15px 0 15px;
  position: relative;
}

.folder-snippets:empty:before {
  position: absolute;
  left: 0;
  top: 30vh;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0,0,0,.5);
  content: 'No snippets';
  font-size: 16px;
  font-style: italic;
}

.folder-snippets .snippet-container {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 10px solid transparent;
  transition: all .2s ease;
  position: relative;
  cursor: pointer;
  color: rgba(0,0,0,.5);
  background: white;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.folder-snippets .snippet-container:hover {
  transform: scale(.97);
}

.folder-snippets .snippet-container.selected {
  border: 10px solid #009688;
  transform: scale(.97);
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

label[for="files"] {
  position: relative;
}

textarea#url {
  position: absolute;
  left: -1000px;
  opacity: 0;
}