header {
  justify-content: flex-end !important;
}

.folder-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 15px;
  max-width: 950px;
  margin: auto;
}

.folder {
  position: relative;
  margin-right: 20px;
  margin-bottom: 35px;
  text-decoration: none;
}

.folder .dropdown-btn {
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 21px;
  background: rgba(255,255,255,.7);
  text-align: center;
  font-size: 25px;
  color: rgba(0,0,0,.7);
  border: 1px solid rgba(0,0,0,.075);
  border-radius: 3px;
  line-height: 15px;
  vertical-align: middle;
}

.folder:hover .dropdown-btn {
  opacity: 1;
}

.folder:hover .dropdown-btn:hover {
  color: #000;
}

.folder div.placeholder {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

.folder div.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder.create-folder div.placeholder {
  border: 4px solid #009688;
  font-size: 48px;
  font-weight: 500;
  cursor: pointer;
}

.folder.create-folder div.placeholder:hover {
  background: white;
}

.folder div.placeholder {
  background: white;
  font-size: 30px;
  font-weight: 300;
  color: rgba(0,0,0,.45);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.folder div.placeholder:hover {
  transform: scale(.97);
}

.folder .title,
.folder .snippet-count {
  font-size: 12px;
}

.folder .title {
  font-weight: 500;
  margin-bottom: 3px;
  color: #333;
}

.folder .photo-count {
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}

.actions {
  display: block;
  margin-bottom: 1em;
}

#prompt {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 3;
  font-size: 14px;
}

#prompt .content {
  width: 400px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #009688;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

#prompt .content p {
  margin-top: 0;
}

#prompt .content .btn {
  margin-left: 0;
  margin-top: 10px;
}

#prompt:empty {
  display: none;
}

section header {
  padding: 6px 10px;
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

section.bordered {
  border: 1px solid #ccc;
}

section.bordered header {
  border-top: 0;
}

section.padded main {
  padding: 0 10px;
}