#prompt {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 3;
  font-size: 14px;
}

#prompt .content {
  position: relative;
  width: 595px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #009688;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

#prompt .content p {
  margin-top: 0;
}

#prompt .content p:last-child {
  margin-bottom: 0;
}

#prompt .content .btn {
  margin-left: 0;
  margin-top: 10px;
}

#prompt:empty {
  display: none;
}

#close-btn {
  position: absolute;
  right: 20px;
  top: 21.5px;
  line-height: 1;
  cursor: pointer;
  text-decoration: underline;
}

#prompt form{
  height: 245px;
  position: relative;
}

#prompt .header{
  position: relative;
  display: flex;
  border: 1px solid #9e9e9e;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: .5rem;
}

#prompt input, #prompt textarea{
  margin-bottom: 1rem;
  width: 100%;
  font-size: .85rem;
  padding: .3rem .4rem;
  outline: 0;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  vertical-align: baseline;
}

#prompt input[name=path]{
  width: 200px;
  margin-bottom: 0;
  display: inline-block;
}

#prompt textarea{
  position: absolute;
  z-index: 0;
  height: 200px;
  border-radius: 0 0 3px 3px;
  background: #fff;
  resize: none;
  color: #111;
  font-family: Consolas,'Lucida Console',Monaco,monospace;
  font-size: .8rem;
}